# pnpm 설정
auto-install-peers=true
dedupe-peer-dependents=false
enable-pre-post-scripts=true
fund=false
prefer-workspace-packages=true
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=@types/*
save-exact=false
strict-peer-dependencies=false
